body{
  margin: 0;
  background: linear-gradient( black, #9DFB2B);
  background-repeat: no-repeat;
  height:800PX;
}
@font-face {
  font-family: League Script;

}
header{
  margin: 0;
  font-family: League Script;
}

header h1{
  margin: 0;
  color: #9DFB2B;
  text-align: center;

  }
  nav ul{
    text-align: center;
    margin:0;
    padding: 0;

  }
  nav ul li{
    text-align: center;
    display: inline;
    list-style-type: none;
    padding:0;
    margin: 0;


  }

img{
    height:auto;
    display: block;
    margin: auto;
    width: 40%;
}
ul li {
  text-align: center;
  padding: 0;
}
a {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 8px;
  padding: 0;

}

a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  a {
    width: calc(25% - 6px);
  }

  a:nth-of-type(2n) {
    margin-right: 8px;
  }

  a:nth-of-type(4n) {
    margin-right: 0;
  }
}

footer{
    text-align: right;
    color: blue;
}
